DB_USERNAME="YOUR DB_USERNAME"
DB_PASSWORD="YOUR DB_PASSWORD"
DB_DATABASE_DEV="YOUR DB_DATABASE_DEV"
DB_DATABASE_TEST="YOUR DB_DATABASE_TEST"
DB_DATABASE_PROD="YOUR DB_DATABASE_PROD"
DB_HOST="YOUR DB_HOST"
NODE_ENV="development"